/* media query*/
@media screen and (max-width: 1200px){
    body {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 768px){
    body {
      font-size: 16px;
    }
    #hero {
      height: 50vh;
    }
    #humberger{
      font-size: 25px;
      padding: 10px;
      display: block;
      color: var(--primary);
      width: 50px;
      height: 50px;
    }
    .navbar .navbar-nav {
      display: none;
      position: absolute;
      top: 100%;
      right: -100%;
      margin-right: 0;
      background-color:#1e2129d8;
      width: 50%;
      height: 100vh;
    }
    .navbar .navbar-nav.active {
      display: block;
      right: 0;
    }
    .navbar .navbar-nav a {
      display: block;
      text-align: center;
      margin: 30px 20px;
      width: 90px;
      height: 44px;
    }
  
    .navbar .navbar-nav a:hover{
      color: #f8b851;
    }
    .navbar .navbar-nav a::after{
      content: '';
      display: block;
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
      padding-bottom: 2px;
      transform: scaleX(0);
      transition: ease-in-out 0.2s
    }
    
    .navbar .navbar-nav a:hover::after{
      border-bottom: 2px solid var(--primary);
      transform: scaleX(0.2);
    }
  
  .hero-text a{
    color: var(--primary);
    font-size: 18px;
    width: 44px;
    height: 44px;
  }
  .hero-text a:hover{
    color: var(--primary);
    font-weight: bold;
    transition: 0.2s;
  }
  
    .cards{
      grid-template-columns: repeat(2, 1fr);
    }
    .card_image {
      height: calc(9*1.2rem);
      padding: 1.2rem 1.2rem 0;
      position:relative;
    }
    .review_item {
      padding: 0.7rem 0.7rem;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 478px){
    body {
      font-size: 12px;
    }
    .cards {
        grid-template-columns:repeat(1, 1fr);
        margin: 5px 10px;
        padding: 1rem;
        /* box-shadow: 10px 10px 10px 10px #eee; */
        border-radius: 10px;
      }
    form {
        margin-top: 20px;
        position: relative;
        width: 15rem;
        background: var(--color-brand);
        border-radius: var(--rad);
    }
    .form-search {
      max-width: 15rem;
    }
    .card_item_detail {
      grid-template-columns:repeat(1, 1fr);
      gap: 40px;
    }
    }